/* ZEROING DEFAULTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    position: relative;
    left: 0;
    top: 0;
    background-color: #000000;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}
