body{
  margin:0;
  padding: 0;
}

.full-landing-image{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  /* background: url('https://i.postimg.cc/J07vSC9q/hero-background.jpg') no-repeat center; */
  background: url(./68ad08479681c80651e106dea60dad3f.jpg) no-repeat center;
  background-size: cover;
}
