/* ▼ ======================== ↓ | HEADER | ↓ ======================== ▼ */
.header {
    /* HEADER STYLES */
    z-index: 1;
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--color_bg_light);
    backdrop-filter: var(--backdrop_filter);
    border-bottom: 2px solid var(--color_text_bold);

    /* HEADER TOP SIDE STYLES */
    & > .headerTop {
        height: 30px;
        background-color: var(--color_bg_light);
        border-bottom: 1px solid var(--color_bg_med);

        & > .headerTop__buttons {
            display: flex;
            gap: 10px;

            /* & > button {} */

            & > .modal {
                z-index: 10;
                position: absolute;
                left: 0;
                top: 0;
                display: none;
                width: 100dvw;
                height: 100dvh;
            }
        }
        & > .headerTop__search {
            display: flex;
            width: 50%;
            height: 96%;

            & > input {
                width: 100%;
                height: 100%;
                outline: none;
                border: 1px solid var(--color_bg_med);
                padding: 0 1rem;
                border-radius: 5px;
            }
            & > button {
                aspect-ratio: 1 / 1;
                height: 100%;
                outline: none;
                border: 1px solid var(--color_bg_med);
                border-radius: 5px;

                /* & > i {} */
            }
        }
        & > .headerTop__social {
            display: flex;
            gap: 10px;

            & > a {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;

                & > i {
                    font-size: 0.7em;
                }
            }
        }
    }

    /* HEADER BOTTOM SIDE STYLES */
    & > .headerBottom {
        height: 40px;
        background-color: var(--color_bg_light);
        border-bottom: 2px solid var(--color_text_bold);

        & > .headerBottom__logo {
            height: 100%;
            overflow: hidden;

            & > img {
                height: 100%;
            }
        }
        & > .headerBottom__navbar {
            display: flex;
            gap: 1.5rem;
            height: 100%;

            & > li {
                height: 100%;
                transition: var(--transition_speed_fast) var(--transition_timing_easeInOut);
                text-transform: capitalize;

                & > a {
                    color: var(--color_text_bold);

                    /* & > i {} */
                    /* & > span {} */
                    & > i:nth-of-type(2) {
                        font-size: 0.7em;
                        transition: var(--transition_speed_fast) var(--transition_timing_easeInOut);
                    }
                }

                &:hover > a > i:nth-of-type(2) {
                    rotate: 180deg;
                }
                &:hover {
                    background-color: var(--color_theme_50);
                }
            }

            & > #menu__blog {
                position: relative;

                & > #dropdown__blog {
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100px;
                    height: 100px;
                    transition: var(--transition_speed_fast) var(--transition_timing_easeInOut);
                    background-color: var(--color_bg_light);
                    border: 2px solid var(--color_text_bold);
                }
                &:hover > #dropdown__blog {
                    visibility: visible;
                    transition-delay: var(--transition_speed_quick);
                }
            }
            & > #menu__community {
                position: relative;

                & > #dropdown__community {
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100px;
                    height: 100px;
                    transition: var(--transition_speed_fast) var(--transition_timing_easeInOut);
                    background-color: var(--color_bg_light);
                    border: 2px solid var(--color_text_bold);
                }
                &:hover > #dropdown__community {
                    visibility: visible;
                    transition-delay: var(--transition_speed_quick);
                }
            }
            & > #menu__projects {
                position: relative;

                & > #dropdown__projects {
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100px;
                    height: 100px;
                    transition: var(--transition_speed_fast) var(--transition_timing_easeInOut);
                    background-color: var(--color_bg_light);
                    border: 2px solid var(--color_text_bold);
                }
                &:hover > #dropdown__projects {
                    visibility: visible;
                    transition-delay: var(--transition_speed_quick);
                }
            }
        }
        & > .headerBottom__profile {
            display: flex;

            & > .headerBottom__profile_guest {
                display: none;
                display: flex;
                align-items: center;

                /* & > span {} */
            }
            & > .headerBottom__profile_user {
                display: flex;
                display: none;
                
                & > a {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    &:hover {
                        color: var(--color_theme_light);
                    }
                    & > div {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 1px solid var(--color_text_bold);
    
                        & > img {
                            height: 100%;
                        }
                    }
                    & > span {
                        font-size: 0.8rem;
                        max-width: 200px;
                        overflow: hidden;
                    }
                }

            }
        }
    }
}
/* ▲ ======================== ↑ | HEADER | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > HOME | ↓ ======================== ▼ */
.home_main {}
/* ▲ ======================== ↑ | MAIN > HOME | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > ABOUT | ↓ ======================== ▼ */
.about_main {}
/* ▲ ======================== ↑ | MAIN > ABOUT | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > BLOG | ↓ ======================== ▼ */
.blog_main {}
/* ▲ ======================== ↑ | MAIN > BLOG | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > CAREER | ↓ ======================== ▼ */
.career_main {}
/* ▲ ======================== ↑ | MAIN > CAREER | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > COMMUNITY | ↓ ======================== ▼ */
.community_main {}
/* ▲ ======================== ↑ | MAIN > COMMUNITY | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > CONTACT | ↓ ======================== ▼ */
.contact_main {}
/* ▲ ======================== ↑ | MAIN > CONTACT | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > NEWS | ↓ ======================== ▼ */
.news_main {}
/* ▲ ======================== ↑ | MAIN > NEWS | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | MAIN > PROJECTS | ↓ ======================== ▼ */
.projects_main {}
/* ▲ ======================== ↑ | MAIN > PROJECTS | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | LOGIN & REGISTER | ↓ ======================== ▼ */
.auth_main {}
/* ▲ ======================== ↑ | LOGIN & REGISTER | ↑ ======================== ▲ */

/* ▼ ======================== ↓ | FOOTER | ↓ ======================== ▼ */
/* FOOTER */
.footer {}
/* ▲ ======================== ↑ | FOOTER | ↑ ======================== ▲ */
